h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-style: italic;
  color: white;
}

p {
  font-family: 'Roboto', sans-serif;
}

#intro {
  background: #b5b9ab;
  height: 50vh;
}

@media (max-width: 500px) {
  #intro {
    margin-top: 136px;
  }
}
